.App {
  background-color: #3e4044;
  min-height: 100vh;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow-y: hidden;
  font-family: "Open sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
h1,
h2 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  display: inherit;
  color: inherit;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
