@font-face {
  font-family: "futurabold";
  src: url("../src/assets/fonts/futura/futura_bold_font-webfont.woff2")
      format("woff2"),
    url("../src/assets/fonts/futura/futura_bold_font-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "brandon";
  src: url("../src/assets/fonts/brandon/hvd_fonts_-_brandontext-regular-webfont.woff2")
      format("woff2"),
    url("../src/assets/fonts/brandon/hvd_fonts_-_brandontext-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
input:focus {
  outline: none;
}
